.header {
    /* 青 */
    background-color: #517fe4;
}
.contents {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.title h1 {
    font-size: var(--text-x-large);
}
.title p {
    font-size: var(--text-small);
} 