.articleItem {
  border-bottom: 1px solid;
  transition: background 0.2s;
}

.articleItem:last-child {
  border-bottom: none;
}

.articleLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  padding: 28px 0 24px 0;
  transition: background 0.2s;
}

.articleHeader {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.articleDate {
  font-size: 0.95rem;
  margin-right: 12px;
}

.articleMain {
  display: flex;
  flex-direction: column;
}

.articleTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 8px 0;
  line-height: 1.4;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border:1px solid;
  padding: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  height: 100%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 アスペクト比 */
}

.thumbnail {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.cardContent {
  padding: 1.5rem 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cardDate {
  font-size: 0.875rem;
}

.readingTime {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-weight: 500;
}

.cardTitle {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
}

@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
  
  .cardContent {
    padding: 1rem;
  }
  
  .cardTitle {
    font-size: 1.125rem;
  }
}
